defaults/flow.json
[{"id":"bdbf9dfd.70f33","type":"websocket-listener","z":"","path":"/ws/location","wholemsg":"false"},{"id":"ab379818.1ac9a","type":"websocket out","z":"47de5753.48e098","name":"","server":"bdbf9dfd.70f33","client":"","x":815,"y":405.8000793457031,"wires":[]},{"id":"469743a7.4bce6c","type":"websocket in","z":"47de5753.48e098","name":"","server":"bdbf9dfd.70f33","client":"","x":362,"y":404.80006408691406,"wires":[["3a21260.681d85a"]]},{"id":"3a21260.681d85a","type":"function","z":"47de5753.48e098","name":"Get Global context","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":404.80010986328125,"wires":[["ab379818.1ac9a"]]},{"id":"d50e76e.7d1bb88","type":"template","z":"47de5753.48e098","name":"HTML output","field":"","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>BlueMix Sentiment Twitter Map</title>\n    <script src=\"http://use.edgefonts.net/antic-didone:n4:all.js\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/190225905/autolinker-min.js\"></script>\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n        \n        #content {\n            font-size: 10px;\n        }\n        \n        p {\n            font-family: verdana;\n            text-align: center\n        }\n        \n        .maptitle {\n            position: absolute;\n            border-radius: 10px;\n            top: .3em;\n            right: .3em;\n            color: white;\n            background: black;\n            opacity: 0.7;\n            padding: 0 10px;\n        }\n        \n        .titletext {\n            font-family: antic-didone;\n            font-size: 3em;\n            font-weight: 100;\n            margin-top: 0;\n            margin-bottom: 0;\n            line-height: 1em;\n        }\n        \n        .subtitle {\n            color: darkolivegreen;\n            font-size: .8em;\n            line-height: .3em;\n            vertical-align: middle;\n        }\n        \n        .credit {\n            position: absolute;\n            bottom: 0;\n            left: 10em;\n            font-size: .6em;\n            color: #222;\n        }\n        \n        .legend {\n            font-size: .6em;\n            color: #000;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div id=\"map\"></div>\n    <div class=maptitle>\n        <p class=titletext>Tweet Legend</p>\n        <div class=subtitle>\n            <p>Sentiment (negative to positive)</p>\n        </div>\n        <div class=legend>\n            <p>Sentiment:\n                <br>\n                    <img src=\"http://tirdagiot2.mybluemix.net/site-images/tweet-r2.png\">\n                    <img src=\"http://tirdagiot2.mybluemix.net/site-images/tweet-r1.png\">\n                    <img src=\"http://tirdagiot2.mybluemix.net/site-images/tweet-w.png\">\n                    <img src=\"http://tirdagiot2.mybluemix.net/site-images/tweet-g1.png\">\n                    <img src=\"http://tirdagiot2.mybluemix.net/site-images/tweet-g2.png\">\n                </p>\n        </div>\n    </div>\n    <div class=credit>\n        <p>Originally written by Tiran Dagan, IBM October 2015\n           <br>\n           Enhanced by the BlueMix Technical Team, IBM January, 2016</p>\n    </div>\n    <script type=\"text/javascript\">\n        var geocoder = new google.maps.Geocoder();\n        var autolinker = new Autolinker( {\n            newWindow : true,\n            truncate  : 30\n        } );\n        \n        var socketaddy = \"ws://{{req.headers.host}}/ws/location\";\n        var map;\n        var sock;\n        $(document).ready(function()\n        {\n            // Houston Lat Long in Degrees\n            // Latitude: 29.7632836\n            // Longitude: -95.3632715 \n            map = new GMaps({\n                div: '#map',\n                //lat: -12.043333,\n                //lng: -77.028333,\n                lat: 29.7632836,\n                lng: -95.3632715,\n                minZoom: 3\n            });\n            \n            // Use HTML5 geolocation if user allows it.\n            if (navigator.geolocation)\n            {\n                navigator.geolocation.getCurrentPosition(function(position) {\n                    var pos = {\n                        lat: position.coords.latitude,\n                        lng: position.coords.longitude\n                    };\n\n                    map.setCenter(pos);\n                });\n            }\n\n            \n            map.setZoom (3);\n      \n            sock = new WebSocket(socketaddy);\n            sock.onopen = function()\n            {\n                console.log(\"WebSocket - Connected\");\n                console.log(\"WebSocket - Sending ping\");\n                sock.send(\"Ping.\");\n                console.log(\"WebSocket - Ping sent\");\n            };\n            sock.onerror = function()\n            {\n                console.log(\"WebSocket - Error\");\n            };\n            sock.onmessage = function(evt)\n            {\n                var msgparse = JSON.parse(evt.data);\n                console.log (\"User: @\" + msgparse.user);\n                console.log (msgparse.location );\n                \n                GMaps.geocode({\n                    address: msgparse.location,\n                    callback: function(results, status)\n                    {\n                        if (status == 'OK')\n                        {\n                            var latlng = results[0].geometry.location;\n                            // map.removeMarkers();\n                           \t// map.setCenter(latlng[0].lat, latlng[0].lng);\n                            // Create marker\n                            var infoWindow = new google.maps.InfoWindow({ \n                                content: '<b>heading</b><br>more text'\n                            });\n                    \n                            var infoText = '<b>@' + msgparse.user + ':</b>&nbsp;' + \n                                           '<div id=content>' + msgparse.tweet + '</div>'\n                            var html = autolinker.link( infoText );\n                            \n                            // Sets the Default Tweet Icon\n                            var iconfile = 'http://tirdagiot2.mybluemix.net/site-images/tweet';\n                            var sentimentScore = msgparse.sentiment.score == \"\" ? 0 : parseFloat (msgparse.sentiment.score);\n            \n                            // User NodeRed Sentiment\n                            if (sentimentScore < -6.0) \n                                iconfile += '-r2';\n                            else if (sentimentScore < -2.0)\n                                iconfile += '-r1';\n                            else if (sentimentScore >= -2.0 && sentimentScore < 2.0)\n                                iconfile += '-w';\n                            else if (sentimentScore >= 2.0 && sentimentScore < 6.0)\n                                iconfile += '-g1';\n                            else if (sentimentScore >= 6.0)\n                                iconfile += '-g2';\n            \n                            iconfile += '.png';\n                            console.log ('sentiment ' + JSON.stringify(msgparse.sentiment) + ' score: ' + sentimentScore);\n                            console.log ('--> icon=' + iconfile);\n                            var marker = map.addMarker({\n                                lat: latlng.lat(),\n                                lng: latlng.lng(),\n                                title: msgparse.user,\n                                infoWindow: {\n                                    content: html,\n                                    maxWidth: 300\n                                },\n                                icon: iconfile\n                            });\n                            console.log (\"added marker: \" + marker.title);\n                            // map.setCenter(latlng.lat(), latlng.lng());\n                        }\n                        else\n                        {\n                            console.log (\"GMaps.geocode unsuccessful\");\n                        }\n                    }\n                });\n                console.log (msgparse.tweet);\n            }\n        });\n    </script>\n</body>\n\n</html>","x":574.272705078125,"y":481.07281494140625,"wires":[["6dae32c7.df6704"]]},{"id":"6dae32c7.df6704","type":"http response","z":"47de5753.48e098","name":"","x":759.9999732971191,"y":480.80005073547363,"wires":[]},{"id":"262893d8.ba82ec","type":"http in","z":"47de5753.48e098","name":"","url":"/map","method":"get","swaggerDoc":"","x":354.00000381469727,"y":480.80005073547363,"wires":[["d50e76e.7d1bb88"]]},{"id":"2e151940.866f56","type":"twitter in","z":"47de5753.48e098","twitter":"","tags":"Trump","user":"false","name":"Get Tweets","topic":"tweets","x":172.5,"y":244,"wires":[["ee3b954f.feda2","fbb53dbe.d9cc88"]]},{"id":"ddd3819b.24d578","type":"function","z":"47de5753.48e098","name":"Load map json","func":"// Alchemy Method\n//var sentiment;\n//if (msg.features === undefined)  \n//    sentiment = \"\"\n//else\n//    sentiment =  msg.features[\"doc-sentiment\"];\n\n// NodeRed Sentiment Method\nvar sentiment = msg.sentiment;  //.score\n\nvar msg2 = { payload : {\n\t\tuser: msg.tweet.user.screen_name,\n\t\tlocation: msg.location === undefined ? \"\" : msg.location.place,\n\t\tlang : msg.lang,\n\t\tsentiment: sentiment,\n\t\ttweet: msg.tweet.text}\n\t};\n\n// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg2.payload;\nreturn msg2;\n","outputs":1,"noerr":0,"x":560.0000152587891,"y":332.00001525878906,"wires":[["ab379818.1ac9a"]]},{"id":"ee3b954f.feda2","type":"function","z":"47de5753.48e098","name":"Set Payload=Tweet","func":"msg.payload = msg.tweet.text;\nreturn msg;","outputs":1,"noerr":0,"x":369.20001220703125,"y":244.20001220703125,"wires":[["9e56225d.93a6d8"]]},{"id":"d9d7299a.fdc658","type":"cloudant out","z":"47de5753.48e098","service":"kad-node-red-starter-cloudantNoSQLDB","cloudant":"","name":"store tweet","database":"tweet_map","payonly":false,"operation":"insert","x":915,"y":243,"wires":[]},{"id":"49ab7459.4c8124","type":"function","z":"47de5753.48e098","name":"set _id","func":"msg._id = msg.tweet.id_str\nreturn msg;","outputs":1,"noerr":0,"x":746,"y":243,"wires":[["d9d7299a.fdc658"]]},{"id":"fbb53dbe.d9cc88","type":"debug","z":"47de5753.48e098","name":"DEBUG","active":false,"console":"false","complete":"payload","x":369,"y":178,"wires":[]},{"id":"9e56225d.93a6d8","type":"sentiment","z":"47de5753.48e098","name":"","x":562.5,"y":244,"wires":[["ddd3819b.24d578","49ab7459.4c8124","fe29bd0e.64392"]]},{"id":"fe29bd0e.64392","type":"debug","z":"47de5753.48e098","name":"DEBUG","active":false,"console":"false","complete":"sentiment.score","x":757.5,"y":188,"wires":[]}]
