defaults/flow1.json
[{"id":"cf208a73.c21d68","type":"http in","z":"81673aed.b2ffc","name":"","url":"/app","method":"get","swaggerDoc":"","x":175.73333740234375,"y":189.6999969482422,"wires":[["c71f661a.e99d58"]]},{"id":"c71f661a.e99d58","type":"template","z":"81673aed.b2ffc","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html>\n<body>\n\n<form action=\"/store_data_in_cloudant\" METHOD=POST>\n  First name:<br>\n  <input type=\"text\" name=\"firstname\" value=\"Mickey\">\n  <br>\n  Last name:<br>\n  <input type=\"text\" name=\"lastname\" value=\"Mouse\">\n  <br><br>\n  <input type=\"submit\" value=\"Submit\">\n</form> \n\n<p>If you click the \"Submit\" button, the form-data will be sent to a page called \"action_page.php\".</p>\n\n</body>\n</html>","x":335.73333740234375,"y":190.8333282470703,"wires":[["4091704a.9f1e6"]]},{"id":"4091704a.9f1e6","type":"http response","z":"81673aed.b2ffc","name":"","x":482.7333679199219,"y":189.03334045410156,"wires":[]},{"id":"712d307d.fd1f38","type":"http in","z":"81673aed.b2ffc","name":"","url":"/store_data_in_cloudant","method":"post","swaggerDoc":"","x":180.36666870117188,"y":295.3666687011719,"wires":[["411a031a.778b0c","b184bf37.7c11c","b3edb0a1.d210c8"]]},{"id":"a386387a.2cc718","type":"http response","z":"81673aed.b2ffc","name":"","x":550.36669921875,"y":424.70001220703125,"wires":[]},{"id":"8cfdd4e6.a4ee1","type":"cloudant out","z":"81673aed.b2ffc","service":"kad-node-red-starter-cloudantNoSQLDB","cloudant":"","name":"","database":"patient","payonly":true,"operation":"insert","x":773.7333984375,"y":264.0666809082031,"wires":[]},{"id":"b184bf37.7c11c","type":"debug","z":"81673aed.b2ffc","name":"","active":true,"console":"false","complete":"false","x":749.7333984375,"y":357.5666809082031,"wires":[]},{"id":"411a031a.778b0c","type":"function","z":"81673aed.b2ffc","name":"Prepare JSON for Database","func":"msg.payload = msg.req.body\n\nreturn msg;","outputs":1,"noerr":0,"x":536.7333679199219,"y":266.5666809082031,"wires":[["8cfdd4e6.a4ee1","b184bf37.7c11c"]]},{"id":"b3edb0a1.d210c8","type":"template","z":"81673aed.b2ffc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Thanks for entering in patient data\n\nThis is the payload: {{msg.req.body}} !","x":369.73333740234375,"y":375.8333435058594,"wires":[["a386387a.2cc718"]]}]
